<!DOCTYPE html>
<html>
<head>
	<title>TEST COMPONENT</title>
	<!-- para nao dar conflito com o style do public coloquei _ -->
	<link rel="stylesheet" type="text/css" href="/css/_style.css">
	<!-- Import Google Icon Font -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Import materialize.css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css" rel="stylesheet">
</head>
<body>
	<div class="root"></div>


	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
	<script type="text/javascript" src="/bundle/test.bundle.js"></script>
</body>
</html>